services:
    authors-service: 
        image: "${DOCKER_USERNAME}/authors:${GITHUB_SHA}"
        ports:
            - "8082:8082"
        networks:
          docker-ms:
            aliases:
              - authors-service
        deploy:
          replicas: 1
          restart_policy:
            condition: on-failure
          placement:
            constraints:
              - node.labels.role == apis
            
networks:
  docker-ms:
    external: true